* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 2px darkred solid;
  border-right: 2px darkred solid;
  image-rendering: pixelated;
}

@media only screen and (max-width: 570px) {
  canvas {
    border-left: none;
    border-right: none;
    image-rendering: pixelated;
  }
}
